name: Rubocop

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler: 1
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop --parallel --fail-level R
